body {
    margin: 0;
    padding: 0;
}


/*------ EARTH -----*/

#scene_earth {
    background-image: url(img/background_earth.svg);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    z-index: 1;
}

#stars {
    position: absolute;

}

.stars_in {
    background-image: url(img/stars_earth-01.svg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;

    animation: pulse_kf 2.5s infinite alternate linear;
    z-index: 99;

}

.pulse {
    animation: pulse_kf 0.5s infinite alternate linear;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

#earth_container {
    position: fixed;
    top: -27vw;
    left: 25vw;
}

#earth_sprite {}

.earth_walkcycle {
    background-image: url(img/spritesheet_earth.svg);
    background-size: 1600%;
    width: 50vw;
    height: 80vw;
    animation-name: earth_walkcycle_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(15);
    z-index: 999;
}

@keyframes earth_walkcycle_kf {
    0% {
        background-position: 100%;
    }
    50% {
        background-position: 1600%;
    }
    100% {
        background-position: 100%;
    }
}

/*------ SCENE 1 -------*/

#scene_1 {
    background-image: url(img/background_earth.svg);
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 60vw;
    overflow: hidden;
    z-index: 0;
}

#phone {
    background-image: url(img/mobil_hvid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 50vw;
    position: absolute;
    left: 32vw;
    top: 2vw;
    z-index: 4;
    /*    display: none;*/
}

#hand_container {
    position: absolute;
    left: 35vw;
    top: 2vw;
    width: 70vw;
    height: 70vw;
}

#lower {
    position: absolute;
    left: 35vw;
    top: 2vw;
    width: 70vw;
    height: 70vw;

}

.lower_hand {
    background-image: url(img/uden_finger.svg);
    background-size: 100%;
    animation-name: hand_move_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    /*    position: absolute;*/
    z-index: 1;
    width: 70vw;
    height: 70vw;

}

.hand_move_up {
    background-image: url(img/handsfinal.svg);
    background-size: 200%;
    animation-name: hand_move_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
    z-index: 1;
}

.fingers {
    background-image: url(img/spids_h.svg);
    z-index: 6;

}

@keyframes hand_move_up_kf {
    0% {
        top: 38vw;
    }
    100% {
        top: 0;
    }
}

/* besked og stjerne */

#besked_container {

    position: absolute;
    top: 15vw;
}

.besked_ind {
    background-image: url(img/besked.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    left: 49vw;
    z-index: 10;
}

#stjerne_container {
    position: absolute;
    top: 4vw;
    animation: star_kf 1s infinite alternate linear;
}

.pulse {
    animation: star_kf 1s infinite alternate linear;
}

@keyframes star_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.stjerne_ind {
    background-image: url(img/star.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    left: 22vw;
    z-index: 10;

}



/* censoreret billede */

#lower_close {
    position: absolute;
    top: -14vw;
    width: 120vw;
    height: 120vw;

}

.lower_close_up {
    background-image: url(img/hand_close.svg);
    background-size: 100%;

    animation-duration: 5s;
    animation-iteration-count: 1;
    left: 12vw;
    z-index: 1;

}

#finger_close {
    position: absolute;
    top: -15vw;
    width: 120vw;
    height: 120vw;
    background-repeat: no-repeat;
}

.finger_close_up {
    background-image: url(img/finger_close.svg);
    background-size: 100%;

    animation-iteration-count: 1;
    left: 10vw;
    z-index: 99;
}


#censoreret_container {
    position: absolute;
    top: 5.2vw;
}

.censoreret_billede {
    background-image: url(img/nudecc.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 26vw;
    height: 46vw;
    left: 38.6vw;
    z-index: 9;

}

#mobil_container {
    position: absolute;
    top: -15vw;
}

.mobil_c {

    background-image: url(img/mobil_hvid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    height: 80vw;
    left: 3vw;
    z-index: 2;
}

/* censoreret billede slut */

/* vidersend */

#knap_container {

    position: absolute;
    top: 16vw;
}

.vidersend {
    background-image: url(img/vidersend_k.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 25vw;
    left: 39vw;
    z-index: 11;

}

#finger_container {

    position: absolute;
    top: 25vw;

}

.finger_move_up {

    background-image: url(img/finger_v.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 50vw;
    left: 7vw;
    z-index: 11;
    animation-name: finger_move_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
}


@keyframes finger_move_up_kf {
    0% {
        top: 70vw;
    }
    100% {
        top: 25vw;
    }
}

/* vidersend slut */

/* baggrund 1 */

#baggrund_one {}

.baggrund {
    background-image: url(img/baggrund_one.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vw;
    z-index: 0;
    position: absolute;
    overflow: hidden;


}

.hands_one {
    position: absolute;
    background-image: url(img/pink_hand.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 55vw;
    height: 55vw;
    z-index: 99;
    top: 6vw;
    left: 55vw;
    animation-name: hand_one_move_up_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.hand_brun {
    position: absolute;
    background-image: url(img/brun_hand.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60vw;
    height: 60vw;
    z-index: 99;
    top: -6.7vw;
    left: -5vw;
    animation-name: hand_brun_move_down_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transform: scaleY(-1);
}

@keyframes hand_brun_move_down_kf {
    0% {
        top: -45vw;
    }
    100% {
        top: -6.7vw;
    }
}

@keyframes hand_one_move_up_kf {
    0% {
        top: 70vw;
    }
    100% {
        top: 6vw;
    }
}

/* baggrund 1 slut */

/* baggrund 2 */

#baggrund_two {}

.baggrund_2 {
    background-image: url(img/baggrund.svg);
    background-size: cover;

    width: 110vw;
    height: 100vw;
    position: absolute;
    overflow: hidden;
    left: -5vw;

    /*        animation-name: baggrund_kf;*/
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(3);

}

@keyframes baggrund_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -300%;
    }
}

#forskellig_hand_one {

    position: absolute;
    top: 12vw;
    animation-name: forskellig2_kf;
}

.forskellig_one {

    background-image: url(img/forskelligef-02.svg);
    background-size: 400%;
    width: 45vw;
    height: 45vw;
    z-index: 99;
    left: 67vw;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(4);
}



#forskellig_hand_two {
    position: absolute;
    top: -15vw;
    animation-name: forskellig2_kf;
    transform: scaleY(-1);
}

.forskellig_two {

    background-image: url(img/forskellige2-02.svg);
    background-size: 400%;
    width: 45vw;
    height: 45vw;
    z-index: 99;
    left: 22vw;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(4);
}

@keyframes forskellig2_kf {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: -400%;
    }
}

#forskellig_hand_tre {

    position: absolute;
    top: 30.2vw;
    animation-name: forskellig2_kf;

}

.forskellig_tre {
    background-image: url(img/forskellige2-02.svg);
    background-size: 400%;
    width: 45vw;
    height: 45vw;
    z-index: 99;
    left: 21vw;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(4);
}

#forskellig_hand_fire {
    position: absolute;
    top: 4vw;
    animation-name: forskellig2_kf;
    transform: rotate(180deg);
}

.forskellig_fire {
    background-image: url(img/forskelligef-02.svg);
    background-size: 400%;
    width: 45vw;
    height: 45vw;
    z-index: 99;
    left: -13vw;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(4);
}


/* baggrund 2 slut */

/* vidersend close up */

#vidersend {
    position: absolute;
    top: -20vw;
    animation: v_knap_kf 2s infinite alternate linear;
}


.pulse {
    animation: v_knap_kf 2s infinite alternate linear;
}

@keyframes v_knap_kf {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.v_knap {
    background-image: url(img/vidersend_k.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;

}

#finger_klik {
    position: absolute;
    top: 19vw;

}

.f_klik {

    background-image: url(img/finger_v.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    left: -46vw;
    z-index: 11;
    animation-name: f_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
}


@keyframes f_up_kf {
    0% {
        top: 70vw;
    }
    100% {
        top: 19vw;
    }
}

/* vidersend close up slut */

/* computer og alt andet */

#comp {
    position: absolute;
    top: -5vw;
}

.desktop {

    background-image: url(img/laptop_hand.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 40vw;
    left: -3vw;
    z-index: 11;
    animation-name: laptop_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
}


@keyframes laptop_up_kf {
    0% {
        left: -40vw;
    }
    100% {
        left: -3vw;
    }
}



#ipad {
    position: absolute;
    top: 2vw;
}

.ipad_in {
    background-image: url(img/ipad_hand.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34vw;
    height: 34vw;
    left: 68vw;
    z-index: 99;
    animation-name: ipad_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;

}

@keyframes ipad_up_kf {
    0% {
        left: 99vw;
    }
    100% {
        left: 68vw;
    }
}


#ipad_s {
    position: absolute;
    top: 31vw;
}

.ipad_in_sort {
    background-image: url(img/ipad_sort.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40vw;
    height: 40vw;
    left: 30vw;
    z-index: 99;
    animation-name: ipad_sort_up_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    position: absolute;

}

@keyframes ipad_sort_up_kf {
    0% {
        top: 60vw;
    }
    100% {
        top: 31vw;
    }
}



#ipad_h_billede {
    position: absolute;
    top: 8vw;
}

.censo_ipad {
    background-image: url(img/nude.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 13vw;
    height: 13vw;
    left: 74.5vw;
    z-index: 99;
}

#laptop_billede {
    position: absolute;
    top: 4.6vw;

}

.censo_lap {

    background-image: url(img/nude.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 8vw;
    height: 8vw;
    left: 20vw;
    z-index: 999;
}

#ipad_s_billede {
    position: absolute;
    top: 37vw;

}

.censo_s_ipad {

    background-image: url(img/nude.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 14vw;
    height: 14vw;
    left: 36.7vw;
    z-index: 99;
}

/* computer og alt andet slut */

/* tag et valg */

#hand_del {
    position: absolute;
    top: -12vw;
}

.hand_del_censo {

    background-image: url(img/lyser%C3%B8d.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 70vw;
    height: 80vw;
    z-index: ;

    left: -9vw;
    animation-name: hand_del_in_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;

}

@keyframes hand_del_in_kf {
    0% {
        left: -60vw;
    }
    100% {
        left: -9vw;
    }
}

#tekst_del {
    position: absolute;
    top: 5vw;

}

.del {

    background-image: url(img/tekst1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 30vw;
    left: 51vw;


}




#knap_ja {
    position: absolute;
    top: 37vw;
}

.ja {

    background-image: url(img/ja_knap.svg);
    background-size: 100%;
    width: 20vw;
    height: 20vw;
    left: 50vw;
    background-repeat: no-repeat;
    animation: ja_knap_kf 1s infinite alternate linear;
}

.pulse {
    animation: ja_knap_kf 1s infinite alternate linear;
}

@keyframes ja_knap_kf {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.9);
    }
}


#knap_nej {
    position: absolute;
    top: 37vw;
}

.nej {
    background-image: url(img/nej_knap.svg);
    background-size: 100%;
    width: 20vw;
    height: 20vw;
    left: 74vw;
    background-repeat: no-repeat;
    animation: nej_knap_kf 1s infinite alternate linear;

}

.pulse {
    animation: nej_knap_kf 1s infinite alternate linear;
}

@keyframes nej_knap_kf {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.9);
    }
}
