body {
    margin: 0;
    padding: 0;
}


/*------ EARTH -----*/

#scene_earth {
    background-image: url(img/background_earth.svg);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}

#stars {
    background-image: url(img/stars_earth-01.svg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: pulse_kf 2.5s infinite alternate linear;
}

.pulse {
    animation: pulse_kf 0.5s infinite alternate linear;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

#earth_container {
    position: fixed;
    top: -27vw;
    left: 25vw;
}

#earth_sprite {
    background-image: url(img/spritesheet_earth.svg);
    background-size: 1600%;
    width: 50vw;
    height: 80vw;
}

.earth_walkcycle {
    animation-name: earth_walkcycle_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(15);
}

@keyframes earth_walkcycle_kf {
    0% {
        background-position: 100%;
    }
    50% {
        background-position: 1600%;
    }
    100% {
        background-position: 100%;
    }
}

/*------ SCENE 1 -------*/

#scene_1 {
    background-image: url(img/background_earth.svg);
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 60vw;
    overflow: hidden;
    z-index: ;
}

#phone {
    background-image: url(img/mobil_hvid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 50vw;
    position: absolute;
    left: 32vw;
    top: 2vw;
    z-index: 4;
    /*    display: none;*/
}

#hand_container {
    position: absolute;
    left: 35vw;
    top: 2vw;
    width: 70vw;
    height: 70vw;
}

#lower {
    position: absolute;
    left: 35vw;
    top: 2vw;
    width: 70vw;
    height: 70vw;

}

.lower_hand {
    background-image: url(img/uden_finger.svg);
    background-size: 100%;
    animation-name: hand_move_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    /*    position: absolute;*/
    z-index: 1;
    width: 70vw;
    height: 70vw;

}

.hand_move_up {
    background-image: url(img/handsfinal.svg);
    background-size: 200%;
    animation-name: hand_move_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
    z-index: 1;
}

.fingers {
    background-image: url(img/spids_h.svg);
    z-index: 6;

}

@keyframes hand_move_up_kf {
    0% {
        top: 38vw;
    }
    100% {
        top: 0;
    }
}

/* besked og stjerne */

#besked_container {

    position: absolute;
    top: 15vw;
}

.besked_ind {
    background-image: url(img/besked.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    left: 49vw;
    z-index: 10;
}

#stjerne_container {
    position: absolute;
    top: 4vw;
    animation: star_kf 1s infinite alternate linear;
}

.pulse {
    animation: star_kf 1s infinite alternate linear;
}

@keyframes star_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.stjerne_ind {
    background-image: url(img/star.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    left: 22vw;
    z-index: 10;

}



/* censoreret billede */

#lower_close {
    position: absolute;
    top: -14vw;
    width: 120vw;
    height: 120vw;

}

.lower_close_up {
    background-image: url(img/hand_close.svg);
    background-size: 100%;

    animation-duration: 5s;
    animation-iteration-count: 1;
    left: 12vw;
    z-index: 1;

}

#finger_close {
    position: absolute;
    top: -15vw;
    width: 120vw;
    height: 120vw;
    background-repeat: no-repeat;
}

.finger_close_up {
    background-image: url(img/finger_close.svg);
    background-size: 100%;

    animation-iteration-count: 1;
    left: 10vw;
    z-index: 99;
}


#censoreret_container {
    position: absolute;
    top: 5.2vw;
}

.censoreret_billede {
    background-image: url(img/nudecc.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 26vw;
    height: 46vw;
    left: 38.6vw;
    z-index: 9;

}

#mobil_container {
    position: absolute;
    top: -15vw;
}

.mobil_c {

    background-image: url(img/mobil_hvid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    height: 80vw;
    left: 3vw;
    z-index: 2;
}

/* censoreret billede slut */

/* vidersend */

#knap_container {

    position: absolute;
    top: 16vw;
}

.vidersend {
    background-image: url(img/vidersend_k.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 25vw;
    left: 39vw;
    z-index: 11;

}

#finger_container {

    position: absolute;
    top: 25vw;

}

.finger_move_up {

    background-image: url(img/finger_v.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 50vw;
    left: 7vw;
    z-index: 11;
    animation-name: finger_move_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
}


@keyframes finger_move_up_kf {
    0% {
        top: 70vw;
    }
    100% {
        top: 25vw;
    }
}
