body {
    margin: 0;
    padding: 0;
}


/*------ EARTH -----*/

#scene_earth {
    background-image: url(img/background_earth.svg);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}

#stars {
    background-image: url(img/stars_earth-01.svg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: pulse_kf 2.5s infinite alternate linear;
}

.pulse {
    animation: pulse_kf 0.5s infinite alternate linear;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

#earth_container {
    position: fixed;
    top: -27vw;
    left: 25vw;
}

#earth_sprite {
    background-image: url(img/spritesheet_earth.svg);
    background-size: 1600%;
    width: 50vw;
    height: 80vw;
}

.earth_walkcycle {
    animation-name: earth_walkcycle_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(15);
}

@keyframes earth_walkcycle_kf {
    0% {
        background-position: 100%;
    }
    50% {
        background-position: 1600%;
    }
    100% {
        background-position: 100%;
    }
}

/*------ SCENE 1 -------*/

#scene_1 {
    background-image: url(img/background_earth.svg);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#phone {
    background-image: url(img/mobil_hvid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 57vw;
    height: 57vw;
    position: absolute;
    left: 13vw;
    top: -2vw;
    z-index: 3;
    display: none;
}

#hand_container {
    position: fixed;
    left: 16vw;
    width: 80vw;
    height: 80vw;
}

#lower {
    position: fixed;
    left: 16vw;
    width: 80vw;
    height: 80vw;

}

.lower_hand {
    background-image: url(img/uden_finger.svg);
    background-size: 100%;
    animation-name: hand_move_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
    z-index: 2;
    width: 80vw;
    height: 80vw;

}

.hand_move_up {
    background-image: url(img/handsfinal.svg);
    background-size: 200%;
    animation-name: hand_move_up_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
    z-index: 2;
}

.fingers {
    background-image: url(img/spids_h.svg);
    z-index: 6;

}

@keyframes hand_move_up_kf {
    0% {
        top: 38vw;
    }
    100% {
        top: 0;
    }
}
